.latest {
    min-height: 150px;
}

.cart h5:after {
    padding-left: 10px;
    content: '>';
    color: gray;
}

h5 a:hover {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
}



/*-- Media queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
