a {
    width: fit-content;
    color: inherit;
}
a:hover {
    color: inherit;
}



body {
    background-color: #141414;
    font-size: 0.8rem;
    color: #8c8c8c;
    font-family: 'Open Sans', sans-serif;
}

.wrapper {
    background:url('../img/loginBackground.jpg') rgba(0, 0, 0, 0.8);
    min-height: 900px !important;
    background-size:cover;
  background-blend-mode: multiply;
}

#logo {
    width: 96px;
}

.form-login {
    background: rgba(0, 0, 0, 0.6);
    padding: 3rem 4rem;
    border-radius: 7px;
    width: 450px;
}

h1 {
    color: #fff;
    font-size: 32px;
    margin-bottom: 2rem;
}

input {
    padding: 1rem 1.2rem 0rem 1.2rem !important;
    height: 3rem;
}

.form-group {
    position: relative;
    padding-bottom: 1rem;
    margin: 0;
}

.label-inside {
    position: absolute;
    left: 5%;
    top: 2%;
    font-size: .7rem;
}

#exampleCheck1 {
    height: fit-content;
    margin-right: 0;
}

.form-check {
    position: relative;
}

.form-check-input {
    position: absolute;
    left: 20%;
    top: 0;
}

.form-check-label {
    margin-left: 1.5rem;
}

button {
    height: 3rem;
    background: rgb(189,25,238);
    background: linear-gradient(180deg, rgba(189,25,238,1) 0%, rgba(82,50,238,1) 100%);
    border: none !important;
    color: white;
}

.sub-img {
    padding: 4rem;
    padding-bottom: 1rem;
}

.divider {
    height: 130px;
}

footer {
    height: 300px;
    background: rgba(0, 0, 0, 0.6);

}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*-- Media queries --*/
@media (max-width: 992px) {
}
@media (max-width: 768px) {
}
@media (max-width: 576px) {
}
