.slider {
  padding-left: 4rem;
}

.slider .queue {
}

.slider a {
  height: 250px;
  text-decoration: none;
}

.slider a:hover {
    color: inherit;
}

.slider div {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.slider img {
  width: 179px !important;
  max-height: 270px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
}

.slider h2 {
  font-size: 1.5rem;
}

#carouselExampleIndicators {
  position: relative;
  padding: 0em 10rem;
}

.slider .carousel-indicators {
  position: absolute;
  top: 0;
  left: auto;
  padding: 0em;
  margin: 0em;
  height: fit-content;
}

.hover {
  display: none !important;
  transition: all 300ms;
}

.slider .carousel-inner .row div {
  width: fit-content;
  height: fit-content;
  margin: 0.5rem;
  position: relative;
}

/* .slider .carousel-inner .row div:hover {
    transform: scale(1.15);
} */

.slider .carousel-inner .carousel-item .box {
  position: relative;
  width: 180px;
  height: 270px;
}

.slider .carousel-inner .carousel-item .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}

.slider .carousel-inner .carousel-item .box:hover .overlay {
  display: block;
  background: rgba(0, 0, 0, 0.5);
}

.slider .carousel-inner .carousel-item .box img {
  position: absolute;
  left: 0;
}

.box:hover {
    transform: scale(1.1);
}

.title {
  position: absolute;
  width: 100%;
  left: 0;
  top: 150px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  z-index: 1;
  transition: top 0.5s ease;
  opacity: 0;
}

.box:hover .title {
  top: 30%;
  opacity: 1;
}

.button {
  position: absolute;
  width: 100% !important;
  left: 0;
  top: 10px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.35s ease;
}

.button a {
  width: 200px;
  padding: 12px 48px;
  text-align: center;
  color: white;
  border: solid 2px white;
  z-index: 1;
}

.box:hover .button {
  opacity: 1;
}
